body {
    background-color: gold;
    font-family: Playfair Display;
}

.name {
    float: left;
    display: inline;
    top: 85px;
    left: 300px;
    position: absolute;
    border: solid rgb(179, 64, 64);
    border-bottom-width: 7px;
    border-top-width: 7px;
    border-left-width: 5px;
    border-right-width: 5px;
    padding: 20px;
}

ul {
    float: right;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding 0;
    overflow: hidden;
    top: 75px;
    left: 1200px;
    position: absolute;
}

li {
    float: left;
}

li a {
    padding: 14px 16px;
    display: block;
    text-decoration: none;
    color: black;
}

.box {
    height: 800px;
    width: 1300px;
    position: absolute;
    background: white;
    top: 250px;
    left: 300px;
    border: solid rgb(179, 64, 64);
    border-bottom-width: 7px;
    border-top-width: 7px;
    border-left-width: 5px;
    border-right-width: 5px;
}

.me {
    height: 400px;
    width: 400px;
    position: relative;
    top: 300px;
    left: 400px;
}