body {
    background-color: gold;
    font-family: Playfair Display;
    margin: none;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.name {
    display: inline;
    top: 75px;
    left: 300px;
    position: absolute;
    border: solid rgb(179, 64, 64);
    border-bottom-width: 7px;
    border-top-width: 7px;
    border-left-width: 5px;
    border-right-width: 5px;
    padding: 20px;
    font-size: 35px;
    font-weight: 700;
    height: 50px;
    width: 207px;
}

ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding 0;
    overflow: hidden;
    top: 85px;
    left: 1070px;
    position: absolute;
    width: 500px;
    font-size: 25px;
}

li {
    float: left;
}

li a {
    padding: 14px 16px;
    display: block;
    text-decoration: none;
    color: black;
}

.navbar-contact{
    left: 0px
}

.navbar-contact:hover {
    text-decoration: underline rgb(179, 64, 64);
}

.navbar-about {
    left: 133px;
    color: black;
}

.navbar-about:hover {
    text-decoration: underline rgb(179, 64, 64);
    
}

.navbar-experience {
    left: 240px;
}

.navbar-experience:hover {
    text-decoration: underline rgb(179, 64, 64);
}

.navbar-work {
    left: 399px;
}

.navbar-work:hover{
    text-decoration: underline rgb(179, 64, 64);
}

.me {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 300px;
    left: 400px;
}

.container-info{
    position: absolute;
    height: 400px;
    width: 500px;
    left: 800px;
    top: 470px;
}

.title {
    top: 50px;
    position: absolute;
    font-size: 57px;
    color: rgb(179, 64, 64);
}

.location {
    font-size: 30px;
    position: absolute;
    top: 250px;
    color: rgb(179, 64, 64);
}

.box {
    height: 500px;
    width: 1200px;
    position: absolute;
    background: white;
    top: 900px;
    left: 350px;
    border: solid rgb(179, 64, 64);
    border-bottom-width: 7px;
    border-top-width: 7px;
    border-left-width: 5px;
    border-right-width: 5px;
}

.intro-block {
    display: block;
    position: relative;
    top: 75px;
    left: 175px;
}

.intro-block-welcome {
    font-size: 60px;
}

.intro-block-name {
    font-size: 33px;
}

.intro-block-school {
    font-size:  20px;
}

.intro-block-degree {
    font-size: 17px;
}

.introduction {
    position: relative;
    border: solid black;
    margin-left: 550px;
    margin-top: -235px;
    padding: 50px;
    margin-right: 50px;
}

.introduction-par {
    font-size: 20px;
}

.jobs {
    border: black;
    width: 1000px;
    position: absolute;
    top: 1500px;
    left: 450px;
}

.jobs-mattressfirm {
    width: 300px;
    position: absolute;
}

.mfrm-link{
    height: 40px;
    position: absolute;
    left: 260px;
    top: 17px;
}

.jobs-winndixie {
    position: absolute;
    width: 300px;
    left:  350px;
}

.winn-dixie-link {
    height: 40px;
    position: absolute;
    left: 260px;
    top: 17px;
}

.jobs-goodies {
    width: 300px;
    position: absolute;
    left: 700px;
}

.goodies-link {
    height: 40px;
    position: absolute;
    left: 260px;
    top: 17px;
}

.website-imgs {
    width: 1000px;
    left: 510px;
    top: 1900px;
    height: 600px;
    position: absolute;
}

.google-wrap-img {
    position: absolute;
    width: 300px;
    height: 295px;
    top: 0px;
}

.google-description {
    position: absolute;
    top: -16px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(232, 237, 240, 0.72);
    color: rgb(48, 46, 46);
    visibility: hidden;
    opacity: 0;
    height: 295px;
    width: 300px;
    text-align: center;
}

.google-wrap-img:hover .google-description {
    visibility: visible;
    opacity: 1;
}

.google-span {
    position: absolute;
    font-size: 35px;
    height: 70px;
    width: 100px;
    top: 85px;
    left: 100px;
    color: rgb(48, 46, 46);
}

.google-img {
    height: 295px;
    width: 300px;
}

.espn-wrap-img {
    width: 300px;
    height: 295px;
    position: absolute;
    left: 310px;
}

.espn-img {
    width: 300px;
    height: 295px;
}

.espn-description {
    position: absolute;
    top: -16px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(232, 237, 240, 0.72);
    color: rgb(48, 46, 46);
    visibility: hidden;
    opacity: 0;
    height: 295px;
    width: 300px;
    text-align: center;
}

.espn-wrap-img:hover .espn-description {
    visibility: visible;
    opacity: 1;
}

.espn-span {
    position: absolute;
    font-size: 35px;
    height: 70px;
    width: 100px;
    top: 85px;
    left: 100px;
    color: rgb(48, 46, 46);
}

.etrade-wrap-img {
    position: absolute;
    height: 295px;
    width: 300px;
    left: 620px;
}

.etrade-img {
    height: 295px;
    width: 300px;
}

.etrade-description {
    position: absolute;
    top: -16px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(232, 237, 240, 0.72);
    color: rgb(48, 46, 46);
    visibility: hidden;
    opacity: 0;
    height: 295px;
    width: 300px;
    text-align: center;
}

.etrade-wrap-img:hover .etrade-description {
    visibility: visible;
    opacity: 1;
}

.etrade-span {
    position: absolute;
    font-size: 35px;
    height: 70px;
    width: 100px;
    top: 85px;
    left: 100px;
    color: rgb(48, 46, 46);
}

.yahoo-wrap-img {
    position: absolute;
    height: 295px;
    width: 300px;
    top: 305px;
}

.yahoo-img {
    height: 295px;
    width: 300px;
    top: 305px;
}

.yahoo-description {
    position: absolute;
    top: -16px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(232, 237, 240, 0.72);
    color: rgb(48, 46, 46);
    visibility: hidden;
    opacity: 0;
    height: 295px;
    width: 300px;
    text-align: center;
}

.yahoo-wrap-img:hover .yahoo-description {
    visibility: visible;
    opacity: 1;
}

.yahoo-span {
    position: absolute;
    font-size: 35px;
    height: 70px;
    width: 100px;
    top: 85px;
    left: 100px;
    color: rgb(48, 46, 46);
}

.reddit-wrap-img {
    position: absolute;
    height: 295px;
    width: 300px;
    top: 305px;
    left: 310px;
}

.reddit-img {
    height: 295px;
    width: 300px;
}

.reddit-description {
    position: absolute;
    top: -16px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(232, 237, 240, 0.72);
    color: rgb(48, 46, 46);
    visibility: hidden;
    opacity: 0;
    height: 295px;
    width: 300px;
    text-align: center;
}

.reddit-wrap-img:hover .reddit-description {
    visibility: visible;
    opacity: 1;
}

.reddit-span {
    position: absolute;
    font-size: 35px;
    height: 70px;
    width: 100px;
    top: 85px;
    left: 100px;
    color: rgb(48, 46, 46);
}

.covalence-wrap-img {
    position: absolute;
    height: 295px;
    width: 300px;
    top: 305px;
    left: 620px;
}

.covalence-img {
    height: 295px;
    width: 300px;
}

.covalence-description {
    position: absolute;
    top: -16px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(232, 237, 240, 0.72);
    color: rgb(48, 46, 46);
    visibility: hidden;
    opacity: 0;
    height: 295px;
    width: 300px;
    text-align: center;
}

.covalence-wrap-img:hover .covalence-description {
    visibility: visible;
    opacity: 1;
}

.covalence-span {
    position: absolute;
    font-size: 35px;
    height: 70px;
    width: 100px;
    top: 85px;
    left: 100px;
    color: rgb(48, 46, 46);
}

.contact-me-footer {
    position: absolute;
    top: 668px;
    left: 36px;
    font-size: 54px;
    color: rgb(179, 64, 64)
}

.motivation-footer {
    position: absolute;
    top: 682px;
    left: 690px;
    font-size: 23px;
    color: rgb(179, 64, 64);
}

.my-email {
    position: absolute;
    top: 719px;
    left: 695px;
    font-size: 16px;
    color: rgb(179, 64, 64);
}

#name-form {
    top: 2746px;
    left: 566px;
    position: absolute;
    width: 800px;
    height: 40px;
    font-family: Playfair Display;
    font-size: 20px;

}

#email-form {
    top: 2800px;
    left: 566px;
    position: absolute;
    width: 800px;
    height: 40px;
    font-family: Playfair Display;
    font-size: 20px;
}

#message-form {
    top: 2854px;
    left: 566px;
    position: absolute;
    width: 800px;
    height: 240px;
    font-family: Playfair Display;
    font-size: 20px;
}

#name-form::-webkit-input-placeholder {
    font-family: Playfair Display;
    font-size: 20px;
    text-align: left;
}

#email-form::-webkit-input-placeholder {
    font-family: Playfair Display;
    font-size: 20px;
    text-align: left;
}

#message-form::-webkit-input-placeholder {
    font-family: Playfair Display;
    font-size: 20px;
    position: absolute; top: 0; left: 0;
    position: 0 0;
}

#submit {
    position: absolute;
    top: 3131px;
    height: 40px;
    width: 137px;
    font-family: Playfair Display;
    font-size: 25px;
    background: rgba(232, 237, 240, 0.72);
    color: rgb(48, 46, 46);
    left: 1190px;
}

hr {
    border-color: black;
}

.thankyou-footer {
   position: absolute;
   top: 3212px;
   height: 123px;
   width: 884px;
   left: 523px;
}

.thankyou {
    left: 310px;
    font-size: 33px;
    position: absolute;
}
